@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --radius: 0rem;
  }
 

}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: poppins;
  }
}



/* gradient  */
.violet-gradient {
  background: #6408bf;
  background: linear-gradient(240deg, rgb(169, 165, 252)10%, rgb(255, 255, 255)100%);
 
}

.bg-image{
background-image: url("../../public/assets/Hero_pics__kopia_.png"); 
background-size: cover; 
background-position: center;
}

/* hide arrow for input type text */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* for firefox  */
input[type=number] {
  -moz-appearance: textfield;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* scrollbar setting  */
*{
  scrollbar-width: thin; 
  scrollbar-color: #5c01cc #70018f;
  scroll-behavior: smooth ;
  border-radius: 6px;
}

::-webkit-scrollbar{
  width: 10px;

}

::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #5c01cc, #70018f);
  border-radius:6px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(to bottom, #028c5e, #70018f); 
}

::-webkit-scrollbar-track{
  background-color: linear-gradient(to bottom, #1c003f, #520c66);
}
